
// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$grey-darker: #606f7b;

$theme-colors: (
	'grey-darkest': #3d4852,
	'grey-darker': $grey-darker,
	'grey-dark': #8795a1,
	'grey': #b8c2cc,
	'grey-light': #dae1e7,
	'grey-lighter': #f1f5f8,
	'grey-lightest': #f8fafc,
);

$icon-sizes: (
	'10': 10px,
	'15': 15px,
	'20': 20px,
	'30': 30px
);
